html{
    font-family: "Times New Roman", Times, serif;
    max-width: 100%;
    margin: 40px;
}

h1{
    font-size: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
}

p,a{
    font-size: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
}
